@import "../../sass/variables";

.header {
  /* define layout, components names, and white space */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2.4rem 0;
  @media (min-width: $medium) {
    padding: 0 0 0 3.9rem;
  }
  @media (min-width: $big) {
    display: grid;
    grid-template:
      "logo line nav" 1fr
      / 4.6rem 1fr 83rem;
    column-gap: 1rem;
  }
  &-logo {
    @media (min-width: $big) {
      grid-area: logo;
    }
  }
  @media (min-width: $big) {
    &::before {
      grid-area: line;

      // make the line grow with the line area
      justify-self: stretch;

      // make born line
      content: "";
      height: 0.1rem;
      background-color: white;
      opacity: 25%;

      // overlap line with menu
      position: relative;
      right: -5rem;
      z-index: 999;
    }
  }
}

/* define page compoenents */
.nav {
  @media (min-width: $big) {
    grid-area: nav;
  }

  height: 100vh;
  width: 25.4rem;
  @media (min-width: $medium) {
    height: 9.6rem;
    width: 45rem;
  }
  @media (min-width: $big) {
    width: 83rem;
  }
  display: flex;
  flex-direction: column;
  @media (min-width: $medium) {
    flex-direction: initial;
    justify-content: space-around;
  }
  @media (min-width: $big) {
    justify-content: space-between;
    align-items: center;
  }
  background-color: rgba(255, 255, 255, 4%);
  backdrop-filter: blur(8.1rem);
  grid-auto-rows: 1.9rem;
  padding: 3.4rem 2.6rem 0 3.2rem;
  @media (min-width: $medium) {
    padding: initial;
  }
  @media (min-width: $big) {
    padding: 0 16.5rem 0 12.3rem;
  }

  position: absolute;
  right: 0;
  top: 0;
  @media (min-width: $medium) {
    position: initial;
  }

  &-hide {
    display: none;
    // disable hide class and keep flex active
    @media (min-width: $medium) {
      display: flex;
    }
  }
  &-toggle {
    width: 2.4rem;
    height: 2.3rem;
    color: rgba(255, 255, 255, 0%);

    background-image: url("../../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;
    cursor: pointer;
    align-self: center;

    @media (min-width: $medium) {
      display: none;
    }
  }

  &-close {
    width: 1.9rem;
    height: 1.9rem;
    color: rgba(255, 255, 255, 0%);

    background-image: url("../../assets/shared/icon-close.svg");
    background-repeat: no-repeat;
    background-size: cover;

    align-self: end;
    cursor: pointer;

    @media (min-width: $medium) {
      display: none;
    }
  }

  a {
    color: white;
    font-size: 1.4rem;
    @media (min-width: $big) {
      font-size: 1.6rem;
    }
    letter-spacing: 0.27rem;
    @media (min-width: $medium) {
      letter-spacing: 0.236rem;
    }
    font-family: "Barlow Condensed";
    font-weight: 400;
    margin: 3.2rem 0;
    @media (min-width: $medium) {
      // remove the margin
      margin: initial;
      padding: 4rem 0 4rem;
    }
    span {
      font-size: 1.6rem;
      font-weight: 700;
      // hide numbers
      @media (min-width: $medium) {
        display: none;
      }
      // show numbers
      @media (min-width: $big) {
        display: inline-block;
        margin-right: 1.1rem;
      }
    }
    &:active {
      border-bottom: 0.3rem solid white;
    }
    &:hover {
      border-bottom: 0.3rem solid rgba(255, 255, 255, 50%);
    }
  }
}
