@import "../../sass/_variables.scss";
.home {
  /* define page layout, elements name, and white space */
  display: grid;
  justify-items: center;
  grid-template:
    "." 4.8rem
    "title" auto
    "." 1.6rem
    "message" auto
    "." 8.1rem
    "action" auto
    "." 4.8rem;
  @media (min-width: $medium) {
    grid-template:
      "." 10.6rem
      "title" auto
      "." 2.4rem
      "message" auto
      "." 15.6rem
      "action" auto
      "." 9rem;
  }
  @media (min-width: $big) {
    grid-template:
      " ..... . ........ " 25.1rem
      " title ... action " auto
      " ....... . action " 2.4rem
      " message . action " auto
      " ..... ... ...... " 13.1rem
      / 1fr 38.6rem 1fr;
    padding: 0 16.5rem;
    justify-items: end;
  }

  /* define elements */
  &-title {
    grid-area: title;
    font-family: "Barlow Condensed";
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    @media (min-width: $medium) {
      font-size: 2rem;
      letter-spacing: 0.338rem;
    }

    color: #d0d6f9;
    text-align: center;
    span {
      display: block;
      font-family: "Bellefair";
      font-size: 8rem;
      line-height: 10rem;
      @media (min-width: $medium) {
        font-size: 15rem;
        line-height: 15rem;
        margin-top: 2.4rem;
      }
      color: white;
    }
  }
  &-message {
    grid-area: message;

    width: 32.7rem;
    @media (min-width: $medium) {
      width: 44.4rem;
    }

    font-family: "Barlow";
    font-weight: 400;

    font-size: 1.5rem;
    line-height: 2.5rem;
    @media (min-width: $medium) {
      font-size: 1.6rem;
      line-height: 2.8rem;
    }

    text-align: center;
    color: #d0d6f9;
  }
  &-action {
    grid-area: action;
    border-radius: 50%;
    font-family: "Bellefair";

    padding: 6.8rem 2.75rem 5.9rem 2.95rem;
    font-size: 2rem;
    letter-spacing: 0.02rem;
    @media (min-width: $medium) {
      padding: 10.3rem 4.8rem 10.2rem 4.6rem;
      font-size: 3.2rem;
      letter-spacing: 0.02rem;
    }

    @media (min-width: $big) {
      width: 27.4rem;
      height: 27.4rem;
      padding: 11.9rem 6.4rem 11.8rem 6.2rem;

      justify-self: start;
      align-self: end;
    }

    color: #0b0d17;
    background-color: white;
    &:hover {
      box-shadow: 0 0 0 5rem #ffffff1b;
      @media (min-width: $big) {
        box-shadow: 0 0 0 8.8rem #ffffff1b;
      }
    }
  }
}
