@import "../../sass/variables";
.error {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-title {
    font-family: "Barlow Condensed";
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    color: white;
    @media (min-width: $medium) {
      // increase spacing
      font-size: 2rem;
      letter-spacing: 0.338rem;
    }
    @media (min-width: $big) {
      font-size: 2.8rem;
      letter-spacing: 0.472rem;
    }
  }
  &-message {
    font-family: "Barlow";
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #d0d6f9;
    @media (min-width: $medium) {
      // keep text center
      width: 45.8rem;

      // increase font size
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
    @media (min-width: $big) {
      width: 44.4rem;
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }
}
