<article class="destination">
  <h1 class="destination-title"><span>01</span> PICK YOUR DESTINATION</h1>
  <img
    [src]="destination.img"
    [alt]="destination.name"
    class="destination-img"
  />

  <nav class="destination-list">
    <a (click)="getPlanetInfo('moon')" class="planet-list-moon">MOON</a>
    <a (click)="getPlanetInfo('mars')" class="planet-list-mars">MARS</a>
    <a (click)="getPlanetInfo('europa')" class="planet-list-europa">EUROPA</a>
    <a (click)="getPlanetInfo('titan')" class="planet-list-titan">TITAN</a>
  </nav>
  <h2 class="destination-name">{{ destination.name }}</h2>
  <p class="destination-message">{{ destination.message }}</p>

  <hr class="destination-line" />
  <h2 class="destination-label destination-label-distance">AVG. DISTANCE</h2>
  <p class="destination-stats destination-stats-distance">
    {{ destination.distance }}
  </p>
  <h2 class="destination-label destination-label-time">Est. travel time</h2>
  <p class="destination-stats destination-stats-time">{{ destination.time }}</p>
</article>
