<article class="technology">
  <h1 class="technology-title">
    <span class="technology-title-number">03</span> {{ title }}
  </h1>

  <picture class="technology-img">
    <source media="(min-width: 1440px)" [srcset]="technology.imgPortrait" />
    <img [src]="technology.imgLandscape" [alt]="technology.name" />
  </picture>

  <nav class="technology-list">
    <a (click)="getTechInfo('vehicle')">1</a>
    <a (click)="getTechInfo('spaceport')">2</a>
    <a (click)="getTechInfo('capsule')">3</a>
  </nav>

  <h2 class="technology-name">
    <span class="technology-name-label">THE TERMINOLOGY...</span
    >{{ technology.name }}
  </h2>

  <P class="technology-bio">{{ technology.bio }}</P>
</article>
