@import "../../sass/variables";
.destination {
  /* define page layout, components names, and white space */
  display: grid;
  grid-template:
    "title" auto
    "." 3.2rem
    "img" auto
    "." 2.6rem
    "list" auto
    "." 2rem
    "name" auto
    "." 1.6rem
    "message" auto
    "." 3.2rem
    "line" 1fr
    "." 3.2rem
    "distance-label" auto
    "." 1.2rem
    "distance" auto
    "." 3.2rem
    "time-label" auto
    "." 1.2rem
    "time" auto
    / 1fr;
  padding: 2.4rem 2.4rem 5.8rem;
  justify-items: center;
  text-align: center;
  color: white;

  @media (min-width: $medium) {
    grid-template:
      "title               title" auto
      ".............. .........." 6rem
      "img                   img" auto
      ".............. .........." 5.3rem
      "list                 list" auto
      ".............. .........." 3.2rem
      "name                 name" auto
      ".............. .........." 3rem
      "message           message" auto
      ".............. .........." 5.3rem
      "line                 line" 1fr
      ".............. .........." 2.8rem
      "distance-label time-label" auto
      ".............. .........." 1.2rem
      "distance             time" auto
      / 1fr 1fr;
    padding: 4rem 3.85rem 5.8rem;
    column-gap: 10rem;
  }
  @media (min-width: $big) {
    grid-template:
      "title title title title title" auto
      "... . . . .........." 6.4rem
      "... . list list list" auto
      "img . . . ...." 5.3rem
      "img . name name name" auto
      "img . . . ......" 4rem
      "img . message message message" auto
      "img . . . ............" 5.4rem
      "img . line line line" auto
      "img . . . ......." 2.8rem
      "img . distance-label . time-label" auto
      "img . . . ................" 1.2rem
      "img . distance . time" auto
      / 2fr 15.7rem 1fr 6.8rem 1fr;
    justify-items: start;
    padding: 7.6rem 16.65rem 11.8rem;
    column-gap: initial;
  }

  /* define components */
  &-title {
    grid-area: title;
    font-weight: 400;
    font-family: "Barlow Condensed";
    font-size: 1.6rem;
    letter-spacing: 0.27rem;
    color: white;

    @media (min-width: $medium) {
      // increase font size
      font-size: 2rem;
      letter-spacing: 0.338rem;

      // move to the left side
      justify-self: start;
    }
    @media (min-width: $big) {
      font-size: 2.8rem;
      letter-spacing: 0.472rem;
    }

    span {
      color: rgba(255, 255, 255, 25%);
      display: inline-block;
      padding-right: 1.9rem;
    }
  }

  &-img {
    grid-area: img;
    justify-self: center;
    display: flex;
    justify-items: center;
  }
  &-list {
    grid-area: list;
    display: flex;
    justify-content: space-between;
    width: 28.55rem;
    height: 2.8rem;

    a {
      font-family: "Barlow Condensed";
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.236rem;
      color: #d0d6f9;
      cursor: pointer;

      @media (min-width: $medium) {
        letter-spacing: 0.27rem;
      }
      &:active {
        color: white;
        border-bottom: 0.3rem solid white;
      }

      &:hover {
        border-bottom: 0.3rem solid #979797;
      }
    }

    // keep active styles when on a specific destination
    &-active {
      color: white;
      border-bottom: 0.3rem solid white;
    }
  }
  &-name {
    grid-area: name;
    font-weight: 400;
    font-family: "Bellefair";
    font-size: 5.6rem;
    text-transform: uppercase;

    @media (min-width: $medium) {
      font-size: 8rem;
    }
    @media (min-width: $big) {
      font-size: 10rem;
    }
  }
  &-message {
    grid-area: message;
    width: 32.7rem;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #d0d6f9;
    @media (min-width: $medium) {
      width: 57.3rem;
      line-height: 2.8rem;
    }
    @media (min-width: $big) {
      text-align: left;
      // increase font
      font-size: 1.8rem;
      line-height: 3.2rem;
    }
  }

  &-line {
    border: none;
    grid-area: line;
    width: 100%;
    height: 0.01rem;
    background-color: #383b4b;
  }
  &-label {
    color: #d0d6f9;
    font-family: "Barlow Condensed";
    font-size: 400;
    font-size: 1.4rem;
    letter-spacing: 0.236rem;
    text-align: center;
    text-transform: uppercase;
    &-distance {
      grid-area: distance-label;
      @media (min-width: $medium) {
        justify-self: end;
        margin-right: 2rem;
      }
      @media (min-width: $big) {
        justify-self: inherit;
        margin: initial;
      }
    }
    &-time {
      grid-area: time-label;
      @media (min-width: $medium) {
        justify-self: start;
      }
    }
  }
  &-stats {
    font-family: "Bellefair";
    font-size: 2.8rem;
    color: white;
    display: block;
    text-transform: uppercase;

    &-distance {
      grid-area: distance;
      @media (min-width: $medium) {
        justify-self: end;
      }
      @media (min-width: $big) {
        justify-self: inherit;
      }
    }
    &-time {
      grid-area: time;
      @media (min-width: $medium) {
        justify-self: start;
        margin-left: 1.5rem;
      }
      @media (min-width: $big) {
        margin: inherit;
      }
    }
  }
}
